<% provide(:title, "Login") %>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <!--<div class="col-md-6 col-md-offset-3">-->
        <h1>Log in</h1>
        <%= form_for(:session, url: login_path) do |f| %>
    
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
    
          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
    
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>