<% provide(:title, @user.name) %>


<div class="container">
    <div class="jumbotron">
      <div class="row" >
        <% if current_user.name == @user.name && current_user.admin? %>
        <div class="col-md-6 ">
        <h3><center>Upload a Game</center></h3>
        <%= form_for(@user) do |f| %>
          <span class="game">
            <%= f.file_field :game %>
          </span>
          <%= f.submit "Upload Game", class: "btn btn-primary" %>
        <% end %>
      </div>



      <div class="col-md-6 ">
<% end %>
        <h3><center>Download a Game</center></h3>
        <%= form_for(:download, url: downloadFile_path) do |f| %>
          <!--<h4>User ID</h4><%= f.text_field :userID %></br>-->
          <%= f.text_field :gameName, value: 'gameFileName.exe' %></br>
          <%= f.submit "Download Game", class: "btn btn-primary" %>
        <%end%>
      </div>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
            <!--@user.game-->
          </h1>
        </section>
      </aside>
    </div>
  </div>
</div>