<% provide(:title, "Help") %>
<div class="container">
    <div class="jumbotron">
        <div class ="row">
            <h1>Help</h1>
            <div><center><bold>Email:</bold> SiteHelpDesk@example.com / <bold>Phone:</bold> 555-555-1234</center></div></br>
            
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
             Phasellus tempor pharetra vulputate.
             Integer vehicula nisi vitae facilisis dignissim. 
             Nulla eget mollis diam, consectetur viverra odio. 
             Ut consectetur augue elit, ac vulputate neque pretium non. 
             Aenean iaculis nulla ut egestas dictum. 
             Nunc sed blandit enim, vitae dapibus ante. 
             Vivamus aliquet sed lorem sit amet finibus. 
             Nulla libero lacus, tincidunt vitae porttitor vitae, tristique sit amet enim. 
             Duis pulvinar felis tincidunt scelerisque feugiat. 
             Sed nec tellus nibh. Nullam sed malesuada massa. 
             Pellentesque leo diam, efficitur sit amet blandit eu, lacinia sit amet diam. 
             Nunc imperdiet volutpat risus eget tincidunt.
            </p>
        </div>
    </div>
</div>