<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | CSU Games Host</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <link href="https://github.com/BlackrockDigital/startbootstrap-modern-business/blob/master/css/bootstrap.css" rel="stylesheet">
  <link href="https://github.com/BlackrockDigital/startbootstrap-modern-business/blob/master/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Student Games</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if logged_in? %>
                       <li><%= link_to "Users", users_path %></li>
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Account <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                              <li><%= link_to "Profile", current_user %></li>
                              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                              <li class="divider"></li>
                              <li>
                                <%= link_to "Log out", logout_path, method: :delete %>
                              </li>
                            </ul>
                       </li>
                       <li>
                            <%= link_to "Up/Download",  users_path %>
                        </li>
                    <% else %>
                       <li><%= link_to "Log in", login_path %></li>
                   <% end %>
                       
                      
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <%= link_to "Upload",  users_path %>
                            </li>
                            <li>
                                <%= link_to "Login",   login_path %>
                            </li>
                            <li>
                                <%= link_to "Register", register_path %>
                            </li>
                            
                        </ul>
                    </li>-->
                    
                    <li>
                        <%= link_to "About",    about_path %>
                    </li>
                    <li>
                        <%= link_to "Help",    help_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
<%= yield %>
  <script src="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-modern-business/master/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-modern-business/master/js/bootstrap.min.js"></script>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
